<div class="authorization-page">
  <div class="authorization-page__form">
    <div class="authorization-page__form__input">
      <p class="authorization-page__form__input-label">Пошта</p>
      <input type="text" class="authorization-page__form__input-field" />
    </div>
    <div class="authorization-page__form__input">
      <p class="authorization-page__form__input-label">Пароль</p>
      <input type="password" class="authorization-page__form__input-field" />
    </div>
  </div>
  <button type="submit" class="authorization-page__button">Увійти</button>
  <div class="authorization-page__actions">
    <p>Потрібен новий акаунт?</p>
    <a routerLink="/register" class="authorization-page__actions-action">
      <p>Зареєструватись</p>
    </a>
  </div>
</div>
