<div class="authorization-page">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="authorization-page__form">
            <div class="authorization-page__form__input">
                <p class="authorization-page__form__input-label">Пошта</p>
                <input type="text" formControlName="email" class="authorization-page__form__input-field" />
                <div *ngIf="signInForm.controls['email'].invalid && signInForm.controls['email'].touched" class="error-message">
                    <p *ngIf="signInForm.controls['email'].errors?.['required']">Це поле є обов'язковим.</p>
                    <p *ngIf="signInForm.controls['email'].errors?.['email']">Введіть коректну пошту.</p>
                </div>
            </div>
            <div class="authorization-page__form__input">
                <p class="authorization-page__form__input-label">Пароль</p>
                <input type="password" formControlName="password" class="authorization-page__form__input-field" />
                <div *ngIf="signInForm.controls['password'].invalid && signInForm.controls['password'].touched" class="error-message">
                    <p *ngIf="signInForm.controls['password'].errors?.['required']">Це поле є обов'язковим.</p>
                </div>
            </div>
        </div>
        <button type="submit"
                [disabled]="signInForm.invalid"
                [className]="signInForm.valid ? 'authorization-page__button mt-2' : 'authorization-page__button mt-2 btn-disabled'"
        >Увійти</button>
        <ng-container *ngIf="!userIsValid">
            <p class="error-message">Перевірте введені дані.</p>
        </ng-container>
    </form>
  <div class="authorization-page__actions">
    <p>Потрібен новий акаунт?</p>
    <a routerLink="/auth/register" class="authorization-page__actions-action">
      <p>Зареєструватись</p>
    </a>
  </div>
</div>
