@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/mixins';
@import '../../scss/custom';

.header {
  background-color: $header-bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 15px 25px;
  box-shadow: $header-box-shadow;

  &__logo {
    display: flex;
  }

  &__profile-icon {
    color: white;
    display: flex;
  }
}

@media(min-width: 768px) {
  .header {
    padding: 25px 30px;

    &__logo {
      height: 20px;
    }
  }
}