@import '../../../../shared/modules/scss/custom';

.profile-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - $header-height);
  align-items: center;
  justify-content: center;
  gap: 18px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__input {
      &-label {
        font-size: 14px;
        font-weight: $font-weight-semiBold;
      }

      &-field {
        padding: 9px;
        width: 236px;
        border: 1px solid $blue-primary;
        border-radius: 5px;

        &:focus {
          outline-color: $blue-primary;
        }
      }
    }
  }

  &__buttons {
    font-weight: $font-weight-bold;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-button {
      padding-block: 9px;
      width: 236px;
      background-color: $blue-primary;
      border: none;
      border-radius: 5px;
      color: $white;
    }

    &-action {
      font-size: 14px;
      color: $red;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.error-message {
  font-size: 12px;
  color: $red;
}

.btn-disabled {
  background-color: $grey;

  &:hover {
    cursor: default;
  }
}

.divider {
  height: 1px;
  width: 100%;
  margin-block: 15px;
  background-color: $grey-light;
}

@media(min-width: 768px) {
  .profile-page {
    gap: 22px;

    &__form {
      gap: 22px;

      &__input {
        &-label {
          font-size: 18px;
        }

        &-field {
          padding: 10px;
          width: 360px;
          border: 1.4px solid $blue-primary;
        }
      }

      &__picker {
        gap: 8px;

        &-checkbox {
          border: 1.4px solid $blue-primary;
          border-radius: 5px;
        }
      }
    }

    &__button {
      padding-block: 10px;
      width: 360px;
    }

    &__actions {
      font-size: 18px;
      width: 360px;
    }
  }
}