@import '../../../../shared/modules/scss/custom';

.profile-page {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - $header-height);
  align-items: center;
  justify-content: center;
  gap: 18px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__input {
      &-label {
        font-size: 14px;
        font-weight: $font-weight-semiBold;
      }

      &-field {
        padding: 9px;
        width: 236px;
        border: 1px solid $blue-primary;
        border-radius: 5px;

        &:focus {
          outline-color: $blue-primary;
        }
      }
    }
  }

  &__buttons {
    font-weight: $font-weight-bold;
    display: flex;
    flex-direction: column;
    gap: 14px;

    &-button {
      padding-block: 9px;
      width: 236px;
      background-color: $blue-primary;
      border: none;
      border-radius: 5px;
      color: $white;
    }

    &-action {
      font-size: 14px;
      color: $red;
      text-decoration: underline;
    }
  }
}

.btn-disabled {
  background-color: $grey;
}
