@import '../../../../shared/modules/scss/custom';

.job-search-page {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  place-items: center;

  &__number-of-vacancies {
    font-size: 10px;
    font-weight: $font-weight-light;
    margin-block: 8px 14px;
    align-self: start;
  }

  &__vacancies {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.searchbar {
  display: flex;
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
  width: 274px;
  gap: 4px;

  &__icon-search {
    color: $grey;
    overflow: visible;
  }

  &__input {
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-weight: $font-weight-light;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  &__filter-menu {
    position: absolute;
  }
}

.no-results {
  width: 100%;
  display: flex;
  place-items: center;
  color: $black;
  font-weight: $font-weight-light;
}

.searchbar__filter-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
}