@import '../../../../shared/modules/scss/custom';

.divider {
  height: 1px;
  width: 100%;
  margin-block: 15px;

  &-darker {
    background-color: $grey-lighter;
  }

  &-light {
    background-color: $grey-light;
  }
}

.job-details-page {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 100vh;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-wrapper {
      display: flex;
      place-items: center;
    }

    &-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__name {
    font-size: 22px;
    font-weight: $font-weight-semiBold;
  }

  &__info {
    display: flex;
    place-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: $font-weight-light;

    &-salary {
      color: $grey;
    }
  }

  &__location-heading, &__description-heading {
    font-size: 18px;
    font-weight: $font-weight-semiBold;
  }

  &__location {
    display: flex;
    flex-direction: column;

    &-type {
      background-color: $grey-light;
      font-size: 12px;
      font-weight: $font-weight-light;
      padding: 2px 8px;
      border-radius: 4px;
      width: fit-content;
    }
  }

  &__description {
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 15px;
    font-weight: $font-weight-light;
    margin-bottom: 16px;
  }

  &__button-wrapper {
    width: 100%;
    display: flex;
    place-content: center;
    justify-self: end;
  }
}

@media(min-width: 768px) {
  .divider {
    margin-block: 4px;
  }

  .job-details-page {
    &__header-icon {
      width: 22px;
      height: 22px;
      font-size: 22px;
    }

    &__name {
      margin-left: 10px;
      font-size: 26px;
    }

    &__info {
      gap: 14px;
      font-size: 17px;
    }

    &__location-heading, &__description-heading {
      font-size: 22px;
    }

    &__location {
      &-type {
        font-size: 16px;
        padding: 4px 12px;
      }
    }

    &__description {
      font-size: 18px;
      margin-bottom: 18px;
    }
  }
}

