@import '../../../../shared/modules/scss/custom';

.button {
  border-radius: 5px;
  background-color: $blue-primary;
  color: $white;
  font-size: 10px;
  width: 124px;
  height: 24px;
  border: none;
  font-weight: $font-weight-semiBold;
  display: flex;
  align-items: center;
  justify-content: center;

  &-icon {
    font-size: 14px;
    width: fit-content;
    height: fit-content;
  }
}

.btn-big {
  width: 168px;
  height: 32px;
  font-size: 12px;
  gap: 2px;
}

@media(min-height: 600px) {
  .button {
    font-size: 14px;
    width: 224px;
    height: 44px;

    &-icon {
      font-size: 18px;
    }
  }

  .btn-big {
    width: 168px;
    height: 32px;
    font-size: 12px;
    gap: 2px;
  }
}