<div class="edit-vacancy-page">
    <p class="edit-vacancy-page__title">Редагування вакансії</p>
    <div class="divider divider-darker"></div>
    <form [formGroup]="vacancyEditForm" (ngSubmit)="onSubmit()">
        <div class="edit-vacancy-page__form">
            <div class="edit-vacancy-page__form__input">
                <p class="edit-vacancy-page__form__input-label">Назва посади</p>
                <input type="text" formControlName="name" class="edit-vacancy-page__form__input-field"/>
                <div *ngIf="vacancyEditForm.controls['name'].invalid && vacancyEditForm.controls['name'].touched" class="error-message">
                    <p *ngIf="vacancyEditForm.controls['name'].errors?.['required']">Це поле є обов'язковим.</p>
                    <p *ngIf="vacancyEditForm.controls['name'].errors?.['minlength']">Мінімальна довжина - 10 символів.</p>
                    <p *ngIf="vacancyEditForm.controls['name'].errors?.['maxlength']">Максимальна довжина - 50 символів.</p>
                </div>
            </div>
            <div class="edit-vacancy-page__form__input">
                <p class="edit-vacancy-page__form__input-label">Компанія</p>
                <input type="text" formControlName="company" class="edit-vacancy-page__form__input-field" />
                <div *ngIf="vacancyEditForm.controls['company'].invalid && vacancyEditForm.controls['company'].touched" class="error-message">
                    <p *ngIf="vacancyEditForm.controls['company'].errors?.['required']">Це поле є обов'язковим.</p>
                    <p *ngIf="vacancyEditForm.controls['company'].errors?.['minlength']">Мінімальна довжина - 2 символи.</p>
                    <p *ngIf="vacancyEditForm.controls['company'].errors?.['maxlength']">Максимальна довжина - 50 символів.</p>
                </div>
            </div>
            <div class="edit-vacancy-page__form__input">
                <p class="edit-vacancy-page__form__input-label">Заробітна плата($)</p>
                <input type="number" formControlName="salary" class="edit-vacancy-page__form__input-field">
                <div *ngIf="vacancyEditForm.controls['salary'].invalid && vacancyEditForm.controls['salary'].touched" class="error-message">
                    <p *ngIf="vacancyEditForm.controls['salary'].errors?.['required']">Це поле є обов'язковим.</p>
                    <p *ngIf="vacancyEditForm.controls['salary'].errors?.['max']">Максимальна цифра - 100000.</p>
                </div>
            </div>
            <div>
                <p class="edit-vacancy-page__form__input-label">Місцезнаходження</p>
                <div class="edit-vacancy-page__form__picker">
                    <input type="radio" formControlName="type" value="office" class="edit-vacancy-page__form__picker-radio" />
                    <p class="edit-vacancy-page__form__input-label">Офіс</p>
                </div>
                <div class="edit-vacancy-page__form__picker">
                    <input type="radio" formControlName="type" value="remote" class="edit-vacancy-page__form__picker-radio" />
                    <p class="edit-vacancy-page__form__input-label">Віддалена робота</p>
                </div>
                <div *ngIf="vacancyEditForm.controls['type'].invalid" class="error-message">
                    <p *ngIf="vacancyEditForm.controls['type'].errors?.['required']">Будь ласка, оберіть тип вакансії.</p>
                </div>
            </div>
            <div class="edit-vacancy-page__form__input">
                <p class="edit-vacancy-page__form__input-label">Опис вакансії</p>
                <textarea formControlName="description" class="edit-vacancy-page__form__input-field input-field-description"></textarea>
                <div *ngIf="vacancyEditForm.controls['description'].invalid || vacancyEditForm.controls['description'].touched" class="error-message">
                    <p *ngIf="vacancyEditForm.controls['description'].errors?.['required']">Це поле є обов'язковим.</p>
                    <p *ngIf="vacancyEditForm.controls['description'].errors?.['minlength']">Мінімальна довжина - 100 символів.</p>
                    <p *ngIf="vacancyEditForm.controls['description'].errors?.['maxlength']">Максимальна довжина - 2000 символів.</p>
                </div>
            </div>
        </div>
        <div class="edit-vacancy-page__buttons">
            <button type="submit"
                    [disabled]="!vacancyEditForm.dirty && vacancyEditForm.invalid"
                    [className]="(vacancyEditForm.dirty && vacancyEditForm.valid) ? 'edit-vacancy-page__buttons-button button-done' : 'edit-vacancy-page__buttons-button button-done btn-disabled'"
            >
                Зберегти
            </button>
            <button type="button" class="edit-vacancy-page__buttons-button button-cancel" routerLink="/jobs">Скасувати</button>
        </div>
    </form>
</div>
